body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://live.staticflickr.com/4540/37935442985_0013fd2496_b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-btn {
    height: 50px;
    width: 200px;
    border-radius: 10px;
}

